{{ define "main" }}
<div class="content">
  <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
  <h1>{{ .Title }}</h1>
  {{ range (.GetTerms "cuisines") }}
  <span class="cuisines"><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></span>
  {{ end }}
  <br>
  {{ range (.GetTerms "courses") }}
  <span class="courses"><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></span>
  {{ end }}
  {{ .Content }}
  <h2>Equipment</h2>
  <ul>
    {{ range $.Params.equipment }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <h2>Ingredients</h2>
  <ul>
    {{ range $.Params.ingredients }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <h2>Instructions</h2>
  <ul>
    {{ range $.Params.instructions }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
</div>
{{ end }}
